<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Chat Room</title>
  </head>
  <body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br />
    <input id="chat-message-input" type="text" size="100" /><br />
    <input id="chat-message-submit" type="button" value="Send" />
    {{ room_name|json_script:"room-name" }}
    <script>

      function replicator(index) {
        const promise =  new Promise((resolve, reject) => {
          setTimeout(() => {
            const mysocket = new WebSocket(socketLocxation);
            mysocket.onopen = () => {
              mysocket.send(
                JSON.stringify({
                  message: 'lorem ipsum dolor sit amen the porcacci madonn tuoi amici\n'.repeat(1 + (index % 10) * 23),
                })
              );

              if (index % 4) {
                console.log('end replicator', index)
                mysocket.close();
                resolve(index);
              } else {
                setTimeout(() => {
                  console.log('end replicator', index)
                  mysocket.close();
                  resolve(index);
                }, 20);
              }
            };
          }, (index * 100) % 10 + 500);
        });
        return promise;
      }


      const roomName = JSON.parse(
        document.getElementById("room-name").textContent
      );

      const socketLocxation = "ws://" + window.location.host + "/ws/chat/" + roomName + "/";
      const chatSocket = new WebSocket(socketLocxation);

      chatSocket.onmessage = function (e) {
        try{
          const data = JSON.parse(e.data);
          document.querySelector("#chat-log").value += data.message + "\n";
        } catch (e) {}
      };

      chatSocket.onclose = function (e) {
        console.error("Chat socket closed unexpectedly");
      };

      document.querySelector("#chat-message-input").focus();
      document.querySelector("#chat-message-input").onkeyup = function (e) {
        if (e.key === "Enter") {
          // enter, return
          document.querySelector("#chat-message-submit").click();
        }
      };

      document.querySelector("#chat-message-submit").onclick = function (e) {
        const messageInputDom = document.querySelector("#chat-message-input");
        const message = messageInputDom.value;
        chatSocket.send(
          JSON.stringify({
            message: message,
          })
        );
        messageInputDom.value = "";
      };
      setTimeout(() => {
          const promises = []
          for (let i = 0; i < 50; ++i) {
            promises.push(replicator(i));
          }
          Promise.allSettled(promises).then(results => {
            console.log(results);
          })
      }, 30000)

    </script>
  </body>
</html>
